<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zifangsky.mapper.TrainMapper" >

  <insert id="insert" parameterType="cn.zifangsky.model.Train" >
    insert into train (train_num,train_no, from_name,to_name, price, num,from_time, to_time, from_date,to_date)
    values (#{trainNum},#{trainNo}, #{fromName},#{toName}, #{price}, #{num},#{fromTime}, #{toTime}, #{fromDate},#{toDate})
  </insert>


	<select id="getTrain" resultType="cn.zifangsky.model.Train"  parameterType="cn.zifangsky.model.Train">
		select * from train
		where train_num = #{trainNum} and from_name = #{fromName} and to_name = #{toName} and from_date = #{fromDate}
	</select>


  <update id="update" parameterType="cn.zifangsky.model.Train" >
    update  train set num = #{num}
    where train_num = #{trainNum} and from_name = #{fromName} and to_name = #{toName} and from_date = #{fromDate}
  </update>




</mapper>